manifest {
    name            = 'fomo'
    description     = 'Annotates candidate lncRNAs on a target assembly by transferring annotation from source species'
    nextflowVersion = '!>=24.10.0'
    version         = '0.1.0dev'
}

params {
    input            = null
    outdir           = 'results'
    publish_dir_mode = 'copy'
}

process {
    publishDir = [
        path:    { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode:    params.publish_dir_mode,
        saveAs:  { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

profiles {
    docker {
        docker.enabled     = true
        docker.runOptions  = '-u $(id -u):$(id -g)'
        conda.enabled      = false
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }
    test {
        includeConfig 'conf/test.config'
    }
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'
