profiles {
    crg {
        workDir = '/nfs/scratch01/rg/fzanarello/work_fomo'

        process {
            executor       = 'slurm'
            queue          = 'genoa64'
            cache          = 'lenient'
            clusterOptions = '--account=phyloencode'

            withLabel: 'big_mem' {
                cpus   = 8
                memory = '32 GB'
                time   = '2h'
            }
            withLabel: 'small' {
                cpus   = 2
                memory = '4 GB'
                time   = '30m'
            }
        }

		singularity.enabled    = true
        singularity.autoMounts = true
        executor.pollInterval = '30 sec'
    }
}
