process {
    withName: 'FOMO:PREPROCESSING:FILTER_TRANSCRIPT' {
        ext.prefix = { "${meta.id}.${meta.feature_type}" }
    }

    withName: 'FOMO:PREPROCESSING:EXTRACT_SEQUENCES' {
        ext.args   = '-w'
        ext.prefix = { "${meta.id}.${meta.feature_type}.spliced" }
    }

    withName: 'FOMO:PREPROCESSING:GFF_TO_GENE_BED' {
        ext.prefix = { "${meta.id}" }
    }

    withName: 'FOMO:PREPROCESSING:BEDTOOLS_COMPLEMENT' {
        ext.prefix = { "${meta.id}.intergenic" }
    }

    withName: 'FOMO:PREPROCESSING:RELOCATE_LOCI' {
        ext.prefix = { "${meta.id}.${meta.feature_type}" }
    }

    withName: 'FOMO:PREPROCESSING:EXTRACT_DECOY_SEQUENCES' {
        ext.args   = '-w'
        ext.prefix = { "${meta.id}.${meta.feature_type}.decoy.spliced" }
    }

    withName: 'FOMO:PREPROCESSING:RENAME_FASTA_HEADERS' {
        ext.prefix = { "${meta.id}.${meta.feature_type}${meta.decoy ? '.decoy' : ''}.spliced" }
    }
}
