params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test using single-chromosome subsampled Lycaena assemblies'

    input  = "${projectDir}/assets/samplesheet.csv"
    outdir = 'results'
}

process {
    resourceLimits = [
        cpus:   2,
        memory: '4.GB',
        time:   '30.min'
    ]
}
